chat.ip=localhost
chat.port=9092

rabbitmq.queue.client=CHAT

app.classes.path=target/classes/com/linkedin/replica/chat
app.controller.host=localhost
app.max_thread_count=20
app.max_db_connections_count=10
app.controller.port=8080

rabbitmq.queue.inter=CHAT_1
rabbitmq.queue.broadcast=CHAT_BROADCAST
rabbitmq.ip=localhost
rabbitmq.username=guest
rabbitmq.password=guest

history.offset.default=0
history.limit.default=20

buffer.size=20
buffer.timer=2000
